body {
    background-color: #f0ffff;
}

.main-block {
    margin-left: auto;
    margin-right: auto;
    width: 900px;   
    text-align: center;
}

.menu {
    margin: 0% 0% 0% 15px;
    text-align: left;
    
}